@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
